{
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 80,
    "proseWrap": "always",
    "overrides": [
        {
            "files": ["*.ts", "*.js", "*.tsx", "*.jsx"],
            "options": {
                "trailingComma": "es5",
                "arrowParens": "avoid",
                "semi": true,
                "singleQuote": true,
                "bracketSpacing": true
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
